body {
    margin: 0;
    padding: 0;
    background-color:pink;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    width: 100%;
    height: auto;
}

.sec1 .ns {
    display: grid;
    grid-template-columns: repeat(3,10fr);
    grid-gap: 10px;
}
.sec1 .ns p {
    color: white;
    background-color: black;
}

.sec1 .ns .par {
    color: red;
}
button{
    border: none;
    background-color: yellowgreen;
    color: blue;
    border-radius: 20px;
}